* {
    box-sizing: border-box; /* le decimos que sume el padding con el 100% del width */
    padding: 0px;
    margin: 0px;
}

main {
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px; /* el primer digito es para arriba y abajo y el segundo digito es derecha y izquierda */
}