*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container{
    outline: 2px solid black;
    margin: 20px auto;
    display: grid;
    width: 90%;
    height: 500px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 50px 50px 1fr;
    gap: 2px;
    grid-template-areas: 
    "c1 c1 c1 c1 c2"
    "c1 c1 c1 c1 c2"
    "c3 c3 c3 c3 c2"
    "c4 c4 c5 c5 c5";
}
.c1{
background-color: blue;
grid-area: c1;
}
.c2{
    background-color: black;
    grid-area: c2;
}
.c3{
    background-color: purple;
    grid-area: c3;
}
.c4{
    background-color: pink;
    grid-area: c4;
}
.c5{
    grid-area: c5;
    grid-row: 4/5;
    grid-column: 5/6;
    background-color: orange;
}
/* se organizan de menor a mayor para que se apliquen correctamente las medidas para los diferentes tamaños de pantalla */
/* @media (min-width: 600px) {
    .c2, .c3, .c4 {
        width: 50%;
    }
}
@media (min-width: 800px) {
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .c1 {
        width: 60%;
    }
    .c2{
        width: 40%;
    }
    .c3, .c4{
        width: 33%;
    }
    .c5{
        width: 34%;
    }
} */